extends layout

block content

  h1= title
  p #[em LocalLibrary]へようこそ, これはMozilla Developer Networkのチュートリアルとして開発された, 非常に基本的なExressウェブサイトです.

  h1 動的コンテンツ

  p ライブラリには次のレコード数があります:

  ul
    li #[strong 本:] !{book_count}
    li #[strong コピー:] !{book_instance_count}
    li #[strong コピーが入手可能です:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
